@import url(./__number/intro__number.css);
.intro__text-stats {
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: pre-line;
    max-width: 383px;
}